@model auctionWebApp.Models.AuctionDetailsVm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AuctionDetailsVm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartingPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartingPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosingPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOpen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOpen)
        </dd>
    </dl>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddBid">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label for="amount" class="control-label">Amount</label>
                    <input type="number" id="amount" name="amount" class="form-control" />
                    @if (TempData["error"] != null)
                    {
                        <span class="text-danger">@TempData["error"]</span>
                    }
                    @if (TempData["success"] != null)
                    {
                        <span class="text-success">@TempData["success"]</span>
                    }
                </div>
                <input type="hidden" name="auctionItemId" value="@Model.Id" />
                <div class="form-group">
                    <input type="submit" value="Place Bid" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    
    <div>
        <h4>Bids</h4>
        <hr />
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Bids[0].UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bids[0].Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bids[0].PlaceTime)
                </th>
            </tr>
            </thead>
            <tbody>
            

            @foreach (var item in Model.Bids)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlaceTime)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    
    
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
